body {
  height: 100vh;
  background: white no-repeat;
}

.table-content {
  margin: auto;
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 2%;
  z-index: 2;
}

.title {
  flex-basis: 100%;
  font-weight: bold;
  color: black;
  display: flex;
  padding-bottom: 40px;
}

.title .title-txt {
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #fde021;
  font-weight: bolder;
}

.tbl {
  flex-basis: 100%;
  height: fit-content;
  justify-content: center;
  justify-items: center;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

.tbl .header-tbl {
  width: 100%;
  padding: 0 10px;
  height: 50px;
  background: linear-gradient(135deg, #f711ff, rgb(8, 235, 84), #0396ff);
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.header-tbl-txt {
  flex-basis: 25%;
  text-align: left;
  margin: auto 0;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bold;
}

.header-tbl-button {
  margin: auto 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  transition: 0.25s;
}

.header-tbl-button:hover {
  background-color: rgb(37, 224, 112);
  transition: 0.25s;
}

.btn {
  padding: 5px;
  border-radius: 3px;
}

.a-btn {
  justify-self: flex-end;
}

.a-btn .click {
  color: whitesmoke;
  font-weight: bolder;
  font-size: large;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.table {
  width: 100%;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.tblDescription {
  max-width: 200px;
}

.action {
  width: 125px;
}

thead {
  color: black;
}

th {
  padding: 2px 0;
  font-weight: bold;
  border-bottom: 2px solid #999;
  color: #0396ff;
}

td {
  height: 60px;
  padding: 0 5px;
  text-align: center;
  border-bottom: 1px solid #666;
}

th,
td {
  display: table-cell;
}

td {
  padding: 5px 5px;
}

.btn {
  width: fit-content;
  padding: 0 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: white;
}

.btn.edit {
  background-color: #0396ff;
}

.btn.exclude {
  background-color: #ff0303;
}

/*ARE YOU SURE*/
.confirm-container {
  display: none;
}

.confirm-container.show {
  display: block;
  height: 200px;
  width: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.confirm-content {
  display: flex;
  padding: 20px 20px;
  text-align: center;
  font-size: 1.2em;
  flex-wrap: wrap;
}

.confirm-content .header {
  flex-basis: 100%;
}

.confirm-content a {
  text-decoration: none;
}

.confirm-content .main {
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  flex-basis: 100%;
}

.confirm-content .btn {
  margin-right: 20px;
  width: fit-content;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px #777;
  -moz-box-shadow: 5px 5px #777;
  -webkit-box-shadow: 5px 5px #777;
  padding: 10px 20px;
}

.confirm-content .btn.accept {
  background-color: #0396ff;
}

.confirm-content .btn.decline {
  background-color: #ff0303;
}

/***** RESPONSIVE ******/

@media (max-width: 955px) {
  table thead,
  th {
    display: none;
  }

  table,
  table td,
  table tr,
  table tbody {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 20px;
    border-top: 1px solid #666;
  }

  td {
    height: fit-content;
    position: relative;
    text-align: right;
  }

  .action {
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn {
    font-size: 1em;
    flex-basis: 45%;
  }

  .btn.edit {
    margin-right: 10px;
  }

  td a {
    text-decoration: none;
  }

  .tblDescription {
    max-width: none;
    display: flex;
    justify-content: flex-end;
  }

  .tblDescription .description-container {
    flex-basis: 80%;
    min-height: 20px;
  }

  table td::before {
    content: attr(data-label) ":";
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 1em;
    padding-left: 15px;
    width: 50%;
    display: inline-block;
    text-align: left;
  }

  .action::before {
    display: none;
  }
}
@media (max-width: 620px) {
  .confirm-container.show {
    display: block;
    height: 250px;
    width: 80%;
  }

  .confirm-content {
    font-size: 1.2em;
  }
}
@media (max-width: 440px) {
  .description-container {
    padding-left: 10px;
  }
}
@media (max-width: 374px) {
  .confirm-content {
    margin-top: 20px;
    font-size: 1em;
  }

  .confirm-content .btn {
    margin-right: 10px;
    font-size: 1em;
  }
}
@media (max-width: 320px) {
  .header-tbl-txt {
    font-size: 1.2em;
  }
  .header-tbl-button .a-btn button {
    font-size: 1em;
  }
}
