html {
  font-size: 1em;
}

body {
  background-image: url("../img/pexels-taryn-elliott-5405596.jpg");
  background-repeat: repeat;
  color: aliceblue;
}

.recovery-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.recovery-content {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-height: 500px;
  padding: 20px 20px;
  justify-content: flex-start;
  height: fit-content;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.726);
  align-items: center;
  border-radius: 30px;
}

.recovery-title {
  padding-right: 10px;
}

.recovery-header {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.recovery-body {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.recovery-form-container label {
  font-size: 1.2em;
  margin-bottom: 20px;
}

input,
button {
  width: 100%;
  margin: 20px auto;
  padding: 2px 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 1rem;
  border: none;
}

input {
  padding: 5px 15px;
}

button {
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #ffe942;
  font-size: 1.5rem;
}

button:hover {
  font-weight: bolder;
  background-color: #ffe942;
}

@media (max-width: 710px) {
  .recovery-content {
    display: block;
    padding: 10px 15px;
  }

  .recovery-body {
    margin: 20px auto;
  }

  .recovery-form-container button {
    margin-bottom: 0px;
  }
}

@media (max-width: 560px) {
  body {
    background-image: none;
    background-color: #ffec61;
  }
  .recovery-content {
    max-height: 450px;
    overflow-y: auto;
    margin-top: 10px;
    width: 90%;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    color: black;
    box-shadow: 8px 8px 3px black;
    -moz-box-shadow: 8px 8px 3px black;
    -webkit-box-shadow: 8px 8px 3px black;
  }

  .recovery-content label,
  p {
    color: black !important;
    font-size: 1.2em;
  }

  .recovery-content h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  .recovery-content p {
    font-size: 1em;
  }

  .recovery-content input[type="email"],
  input[type="password"],
  select {
    color: black;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid gray;
  }

  button {
    border: 1px solid black;
    background-color: #ffec61;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
  }
}
